<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="FluentAssertions.TestFramework" value="mstest"/>
    <add key="WebAppRootUrl" value="http://localhost:29195" />
    <add key="MongoDatabaseName" value="nKanban_Dev" />
  </appSettings>
  <connectionStrings>
    <add name="MongoDb" connectionString="mongodb://localhost/?safe=true"/>
  </connectionStrings>
  <specFlow>
    <unitTestProvider name="MsTest.2010" />
  </specFlow>
</configuration>